.header-style {
  background-color: #166193;
  height: 80px;
  width: 100%;
}

.header-title {
  color: #3ee8e4;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
